<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       <title>QCM partie 2</title>
       <link rel ="stylesheet" type="text/css" href="questiontheme2.css">
    </head>
    <header>
        <h1> Question 2:</h1>
        <h2> Quel est la du plus grand champ solaire au monde situé à Abu Dhabi?</h2>
    </header>
    <body>
        <form action="http://127.0.0.1:5000/question2theme2rep" method="post">
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">18km²</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">20km²</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">23km²</label>
        </div>
        <div>
            <input type="checkbox" id="vrai" name="reponse" value="vrai" />
            <label for="reponse">25km²</label>
        </div>
        <input type="submit" id="bouton" value="Valider la réponse" />
        </form>  
    </body>
</html>