<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       <title>QCM partie 2</title>
       <link rel ="stylesheet" type="text/css" href="questiontheme1.css">
    </head>
    <header>
        <h1> Question 3:</h1>
        <h2> L'agrivoltaïsme, c'est quoi ?</h2>
    </header>
    <body>
        <form action="http://127.0.0.1:5000/question3theme2rep" method="post">
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">Une production agricole avec des paneaux solaires</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">Des panneaux solaires dans des champs</label>
        </div>
        <input type="submit" id="bouton" value="Valider la réponse" />
        </form>  
    </body>
</html>
