<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       <title>QCM partie 3</title>
       <link rel ="stylesheet" type="text/css" href="questiontheme1.css">
    </head>
    <header>
        <h1> Question 4:</h1>
        <h2> L'unité de mesure du flux de puissance solaire reçu est:</h2>
    </header>
    <body>
        <form action="http://127.0.0.1:5000/question3theme2rep" method="post">
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">W/m²</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">lux/m²</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">W/A x m²</label>
        </div>
        <div>
            <input type="checkbox" id="vrai" name="reponse" value="vrai" />
            <label for="reponse">V x A/m²</label>
        </div>
        <input type="submit" id="bouton" value="Valider la réponse" />
        </form>  
    </body>
</html>
