<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       <title>QCM partie 4</title>
       <link rel ="stylesheet" type="text/css" href="questiontheme1.css">
    </head>
    <header>
        <h1> Question 2:</h1>
        <h2> Quel est le rendement d'une centrale thermodynamique?</h2>
    </header>
    <body>
        <p>Entre :</p>
        <form action="http://127.0.0.1:5000/question3theme2rep" method="post">
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">19 et 21%</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">21 et 23%</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">23 et 25%</label>
        </div>
        <div>
            <input type="checkbox" id="vrai" name="reponse" value="vrai" />
            <label for="reponse">25 et 27%</label>
        </div>
        <input type="submit" id="bouton" value="Valider la réponse" />
        </form>  
    </body>
</html>
