<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
       <title>QCM partie 2</title>
       <link rel ="stylesheet" type="text/css" href="questiontheme1.css">
    </head>
    <header>
        <h1> Question 4:</h1>
        <h2>Quelle est la taille minimale d'un champ solaire?</h2>
    </header>
    <body>
        <form action="http://127.0.0.1:5000/question4theme2rep" method="post">
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">50m²</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">100m²</label>
        </div>
        <div>
            <input type="checkbox" id="faux" name="reponse" value="faux" />
            <label for="reponse">500m²</label>
        </div>
        <div>
            <input type="checkbox" id="vrai" name="reponse" value="vrai" />
            <label for="reponse">1000m²</label>
        </div>
        <input type="submit" id="bouton" value="Valider la réponse" />
        </form>  
    </body>
</html>
